<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fire1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{135,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,92}}</string>
                <key>sourceSize</key>
                <string>{135,92}</string>
            </dict>
            <key>fire2.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,2},{153,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,125}}</string>
                <key>sourceSize</key>
                <string>{153,125}</string>
            </dict>
            <key>fire3.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{172,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,136}}</string>
                <key>sourceSize</key>
                <string>{172,136}</string>
            </dict>
            <key>fire4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{187,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,141}}</string>
                <key>sourceSize</key>
                <string>{187,141}</string>
            </dict>
            <key>fire5.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,140},{197,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,144}}</string>
                <key>sourceSize</key>
                <string>{197,144}</string>
            </dict>
            <key>fire6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{207,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,131}}</string>
                <key>sourceSize</key>
                <string>{207,131}</string>
            </dict>
            <key>fire7.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,286},{216,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,138}}</string>
                <key>sourceSize</key>
                <string>{216,138}</string>
            </dict>
            <key>fire8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{222,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,143}}</string>
                <key>sourceSize</key>
                <string>{222,143}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fire.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:73b94556971e8b91daa87fb0075a4017$</string>
            <key>textureFileName</key>
            <string>fire.png</string>
        </dict>
    </dict>
</plist>
